{{define "title"}}Dashboard{{end}} {{define "main"}}
<h2 class="text-4xl text-green-500">Your URLs</h2>

{{range .Sites}}
<ul role="list" class="divide-y divide-gray-100 dark:divide-white/5">
  <li class="flex justify-between gap-x-6 py-5">
    <div class="flex min-w-0 gap-x-4">
      <div class="min-w-0 flex-auto">
        <p class="text-sm/6 font-semibold text-gray-500 dark:text-white">
          {{.Url}}
          <a href="{{.Url}}" class="text-amber-500"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4 inline-block ml-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
              />
            </svg>
          </a>
        </p>
        {{if .Changed}} {{template "change" .}} {{else}} {{template "nochange"
        .}} {{end}}
      </div>
    </div>
    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
      <p class="text-sm/6 text-gray-900 dark:text-white">
        {{ .Created | humanDate}}
      </p>
      <p class="mt-1 text-xs/5 text-gray-500 dark:text-gray-400">
        Last updated
        <time datetime="2023-01-23T13:23Z">{{.UpdatedAt | humanDate}}</time>
      </p>
    </div>
  </li>
</ul>
{{else}}
<p>There's nothing to see here yet!</p>
{{end}} {{end}}

