{{define "change"}}
<div id="replace">
    <p class="mt-1 mb-1 truncate text-xs/5 text-green-500 dark:text-green-400">The site has changed!</p>
    <button
        class="rounded-sm bg-indigo-600 px-2 py-1 text-xs font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:shadow-none dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-500"
        hx-patch="/url/{{.ID}}" 
        hx-vals='{"url": "{{.Url}}"}' 
        hx-target="#replace" 
        hx-swap="outerHTML">Mark as
        read.</button>
</div>
{{end}}

{{define "nochange"}}
<div id="replace1">
    <p class="mt-1 truncate text-xs/5 text-gray-500 dark:text-gray-400" >
        No changes.
    </p>
</div>
{{end}}